<header class="site-header">
	<span class="logo">sk</span>

	<ul class="contact">
		<li><a href="#"><span class="icon icon-mail"></span></a></li>
		<!-- <li><a href="#"><span class="icon icon-phone"></span></a></li> -->
		<li><a href="#"><span class="icon icon-linkedin"></span></a></li>
		<li><a href="#"><span class="icon icon-github"></span></a></li>
		<li><a href="#"><span class="icon icon-twitter"></span></a></li>
		<!-- <li><a href="#"><span class="icon icon-vimeo"></span></a></li> -->
	</ul>
</header>