<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Steve King - Web Developer - London UK</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body id="top">
    <header class="site-header">

        <a href="#top" class="site-logo scroll-link">sk</a>

        <ul class="contact-nav">
            <li>
                <a href="#" class="mailto" data-u="mail" data-d="steveking.info">
                    <span class="icon icon-mail"></span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stevek1ng" target="_blank" title="LinkedIn">
                    <span class="icon icon-linkedin"></span>
                </a>
            </li>
            <li>
                <a href="https://github.com/steve-king" target="_blank" title="Github">
                    <span class="icon icon-github"></span>
                </a>
            </li>
            <!-- <li>
                <a href="https://twitter.com/stevek1ng" target="_blank" title="Twitter">
                    <span class="icon icon-twitter"></span>
                </a>
            </li> -->
        </ul>
    </header>

    <main class="site-main">
