<div class="post {% if post.theme %}post-{{post.theme}}{% endif %}">

	<div class="post-inner">

		{% if post.image %}
			<div class="post-image top-radius" style="background-image:url({{post.image}})"></div>
			<!-- <img src="{{post.image}}" alt="{{post.title}}" class="top-radius" /> -->
		{% endif %}

		<div class="post-content{% unless post.image %} top-radius{% endunless %}{% if post.hide_meta %} bottom-radius{% endif %}">
			
			<h2>{{ post.title }}</h2>
			{% if post.client %}
				<p>Client: {{post.client}}</p>
			{% endif %}

			{{ post.content }}
			
			{% if post.link %}
			<p>
				<a href="{{post.link}}" class="btn {% if post.theme %}btn-{{post.theme}}{% endif %}" target="_blank">
					{% if post.link_text %}{{ post.link_text }}{% else %}Visit site{% endif %}

					{% if post.link_icon %}
						<span class="icon icon-{{post.link_icon}}"></span>
					{% else %}
						<span class="icon icon-open"></span>
					{% endif %}
				</a>
			</p>
			{% endif %}

		</div>

		{% unless post.hide_meta %}
		<div class="post-meta">
			<span class="post-date"><span class="icon icon-clock"></span> {{ post.date | date: "%B %Y" }}</span>
		</div>
		{% endunless %}

	</div>
</div>
	
