.btn {
	background: rgba(255,255,255,0.6);
	color: rgba(0,0,0,0.75);
	display:inline-block;
	line-height: 2.3em;
	padding: 0 1em;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	@include font-size(16);
	border-radius:$borderRadius;
	@include transition(background 200ms ease-in-out);

	&:hover {
		text-decoration:none;	
		background: rgba(255,255,255,0.9);
	}

	.icon {
		right:-0.2em;
		font-size:1.1em;
		position:relative;
	}

	.icon-download {
		top:0.05em;
		font-size:1.2em;
	}

	.icon-open {
		font-size:1.25em;
		top:0.03em;
	}
}

.btn-dark {
	background: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.9);

	&:hover {
		text-decoration:none;	
		background: rgba(0,0,0,0.8);
	}
}