.site-footer {
	
	padding:$fontSizePx $fontSizePx $fontSizePx/2;
	text-align:center;
	color:rgba(#000, 0.45);
	
	a {
		//text-decoration:underline;
		color:rgba(#000, 0.6);
	}

	p {
		@include font-size(12);
		margin:$fontSizePx 0;
		
	}

	.icon-arrow-up {
		display:inline-block;
		@include font-size(70);
		color:rgba(#fff, 0.4);
		@include transition(color 200ms ease-in-out);
		text-decoration:none;

		&:hover {
			text-decoration:none;
			color:rgba(#fff, 0.7);
		}
	}

	@include respond-min(420) {
		margin-left:$headerSize;
		text-align:left;
	}
}