.site-footer {
	
	padding:$fontSizePx $fontSizePx 0;
	text-align:center;
	color:rgba(#000, 0.45);
	
	a {
		//text-decoration:underline;
		color:rgba(#000, 0.6);
	}

	p {
		@include font-size(12);
		margin:$fontSizePx 0;
		
	}

	.icon-arrow-up {
		display:inline-block;
		@include font-size(70);
		color:rgba(#fff, 0.4);
		text-decoration:none;
		margin-bottom:7px;

		&:hover {
			text-decoration:none;
			color:rgba(#fff, 0.7);
		}
	}

	//max-width:$postMaxWidth * 3;

	@include respond-min(420px) {
		margin-left:$headerSize;
	}

	@include respond-min($singleColBreakpoint) {
		text-align:left;

		.icon-arrow-up {
			float:left;
			margin-right:10px;
		}

		p {
			float:left;
			margin:24px 0;
		}
	}
}