/* apply a natural box layout model to all elements */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html {
 	font-size: 62.5%; // Base font size = 10px
 	font-family: 'PT Sans', sans-serif;
 	-webkit-font-smoothing:antialiased;
}

body {
	background:#456;
	background:url(../images/backgrounds/geometry1-tiled.jpg);
	background-attachment:fixed;
	//background-size:230px 227px;
	background-size:200px;
	@include font-size(14);
	line-height:1.4;
}

a {
	text-decoration:none;
	color:$linkColor;

	&:hover {
		text-decoration:underline;
	}
}

.btn {
	background:rgba(0,0,0,0.85);
	color:#fff;
	display:inline-block;
	line-height:24px;
	padding:0 10px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;

	&:hover {
		text-decoration:none;	
	}
}

.site-header {
	position:fixed;
	top:0;
	left:0;
	height:$headerSize;
	width:100%;
	background:#000;
	//background:rgba(0,0,0,0.85);
	padding:0 20px;
	z-index:1;

	.logo {

		line-height:44px;
		color:#fff;
		color:#000;
		@include font-size(45);
		font-family:'Lobster', sans-serif;
		display:inline-block;
		width:50px;
		height:50px;
		background:#fff;
		background:url(../images/backgrounds/geometry1-tiled.jpg) 54% 16%;
		background-size:500%;
		@include border-radius(25px);
		overflow:hidden;
		text-align:center;
		letter-spacing: -0.06em;
		text-indent: -0.05em;
		position:absolute;
		top:10px;
		left:10px;
	}

	.contact {
		list-style:none;
		margin:0;
		padding:0;
		float:right;
	}

	@include respond-min(420) {
		width:$headerSize;
		height:100%;

		.logo {
			//@include transform(rotate(-90deg));
			//@include transform-origin(50% 245%);
			//width:200px;
			//text-align:right;
		}
	}
}



.posts-container {
	margin:10px 5px;
	padding-top:$headerSize;

	@include respond-min(420) {
		margin-left:$headerSize + 10px;
		padding-top:0;
		margin-top:0;
	}

	.post {
		min-width:200px;
		max-width:400px;
		float:left;

		.post-inner {
			padding:10px 10px;
		}

		img {
			width:100%;
			height:auto;
		}

		.top-radius {
			@include border-radius($borderRadius $borderRadius 0 0);
		}

		.post-content {
			padding:10px 10px 1px;
			background:rgba(255,255,255,0.9);
		}

		.post-meta {
			background:rgba(0,0,0,0.85);
			@include border-radius(0 0 $borderRadius $borderRadius);
			color:#fff;
			padding:5px 10px;
			@include font-size(14);
			//display:none;
		}

		&.dark {
			.post-content {
				background:rgba(0,0,0,0.85);
				color:#ddd;
			}
		}
	}



	&._1col {
		.post {
			width:100%;
		}
	}
	&._2col {
		.post {
			width:50%;
		}
	}
	&._3col {
		.post {
			width:33%;
		}
	}
	&._4col {
		.post {
			width:25%;
		}
	}
	&._5col {
		.post {
			width:20%;
		}
	}
	&._6col {
		.post {
			width:16%;
		}
	}
}



h2 {
	margin:0 0 5px;
}

p {
	margin-top:0;
}

// .site-footer {
// 	background:$darkBG;
// 	color:#fff;
// 	line-height:50px;
// 	height:50px;
// }

