/* apply a natural box layout model to all elements */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

html {
 	font-size: 62.5%; // Base font size = 10px
 	font-family:"Helvetica Neue", sans-serif;
 	font-weight:light;
 	-webkit-font-smoothing:antialiased;
 	color:rgba(0,0,0,0.75);
}

.trans_black {
	background:#000;
	background:rgba(0,0,0,0.75);
}

.trans_white {
	background:#fff;
	background:rgba(255,255,255,0.6);
}

.neon_gradient {
	background:
		linear-gradient(limegreen,transparent),
		linear-gradient(90deg,skyblue,transparent),
		linear-gradient(-90deg,coral,transparent);
	background-blend-mode: screen;
}

body {
	background:url(../images/backgrounds/blurred.png) no-repeat center center fixed;
	background-size:cover;

	@include font-size(14);
	line-height:1.4;
}


.site-main {

}

a {
	text-decoration:none;
	color:$linkColor;

	&:hover {
		text-decoration:underline;
	}
}

.btn {
	background: rgba(255,255,255,0.6);
	color: rgba(0,0,0,0.75);
	
	display:inline-block;
	line-height: 2.3em;
	padding: 0 1em;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	@include font-size(16);
	@include border-radius(4px);

	&:hover {
		text-decoration:none;	
		background: rgba(255,255,255,0.9);
	}

	.icon {
		right:-0.2em;
		font-size:1.1em;
		position:relative;
	}

	.icon-download {
		top:0.05em;
	}

	.icon-download2 {
		top:0.05em;
		font-size:1.2em;
	}

	.icon-download3 {
		top:0.05em;
	}

	.icon-open {
		font-size:1.2em;
		top:0.05em;
	}
}

.btn-dark {
	background: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.9);

	&:hover {
		text-decoration:none;	
		background: rgba(0,0,0,0.8);
	}
}

.site-header {
	position:fixed;
	top:0;
	left:0;
	height:$headerSize;
	width:100%;
	
	padding:0 15px;
	z-index:1;

	@extend .trans_white;

	.logo {

		font-family: 'Lobster Two', sans-serif;
		font-weight:700;
		font-style:italic;
		@include font-size(50);
		line-height:46px;
		display:inline-block;
		position:absolute;
		top:10px;
		left:15px;

		color:rgba(0,0,0,0.75);
	}

	.contact {
		
	}

	@include respond-min(420) {
		width:$headerSize;
		height:100%;

		.logo {
			left:10px;
		}
	}
}

.contact {

	list-style:none;
	margin:0;
	padding:0;
	float:right;
	position:relative;
	top:18px;
	@include font-size(22);

	li {
		float:left;
		margin:0 0 0 10px;
	}

	a {

		$iconSize : 34px;

		display:block;
		width:$iconSize;
		height:$iconSize;
		line-height:$iconSize;
		@include border-radius($iconSize / 2);
		color:#000;
		text-align:center;
		overflow:hidden;
		color:rgba(0,0,0,0.75);

		&:hover {
			text-decoration:none;
			background:rgba(#fff, 0.7);
		}
	}

	.icon {
		
		position:relative;
		
		&.icon-mail {
			font-size:1.05em;
		}

		&.icon-linkedin {
			top:0.05em;
			font-size:1.15em;
		}

		&.icon-github {
			top:0.1em;
		}

		&.icon-github2 {
			font-size:1.1em;
			top:0.11em;
		}

		&.icon-github3 {
			top:0.15em;
		}

		&.icon-github4 {
			font-size:1.15em;
			top:0.15em;
			left:0.065em;
		}

		&.icon-twitter {
			top:0.05em;
			font-size:1.1em;
		}
	}

	@include respond-min(420) {
		float:none;
		top:70px;
		left:2px;

		li {
			float:none;
			margin:0 0 10px 0;
		}
	}
}



.posts-container {
	margin:10px 5px;
	padding-top:$headerSize;
	max-width:960px;

	@include respond-min(420) {
		margin-left:$headerSize + 10px;
		padding-top:0;
		margin-top:0;
	}

	.post {
		min-width:200px;
		max-width:480px;
		float:left;

		.post-inner {
			padding:10px 10px;
		}

		img {
			width:100%;
			height:auto;
		}

		.top-radius {
			@include border-radius($borderRadius $borderRadius 0 0);
		}

		.bottom-radius {
			@include border-radius(0 0 $borderRadius $borderRadius);
		}

		.post-content {
			padding:10px 10px 1px;
			@extend .trans_white;
		}

		.post-meta {
			background: rgba(255,255,255,0.25);
			@include border-radius(0 0 $borderRadius $borderRadius);
			color:#fff;
			padding:5px 10px;
			@include font-size(14);

			.icon-clock {
				font-size:1.2em;
				//font-weight:bold;
				position:relative;
				top:0.05em;
			}

			.icon-calendar1 {
				font-size:1.2em;
				position:relative;
				top:0.05em;
			}

			.icon-calendar2 {
				font-size:1.3em;
				position:relative;
				top:0.05em;
			}
		}

		&.dark {
			.post-content {
				@extend .trans_black;
				color:rgba(255,255,255,0.9);
			}
		}

		.video-container {
			padding-top:56.25%;
			position:relative;

			iframe, video {
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
			}
		}
	}



	&._1col {
		.post {
			width:100%;
		}
	}
	&._2col {
		.post {
			width:50%;
		}
	}
	&._3col {
		.post {
			width:33%;
		}
	}
	&._4col {
		.post {
			width:25%;
		}
	}
	&._5col {
		.post {
			width:20%;
		}
	}
	&._6col {
		.post {
			width:16%;
		}
	}
}



h2 {
	margin:0 0 5px;
	font-weight:300;
	// font-size:2em;
	@include font-size(30);
}

p {
	margin-top:0;
}

// .site-footer {
// 	background:$darkBG;
// 	color:#fff;
// 	line-height:50px;
// 	height:50px;
// }

