// Colours
$linkColor:		darken(skyblue, 30%);

// Default values
$fontSize     :	14;
$fontSizePx   : $fontSize * 1px;
$borderRadius :	4px;
$headerSize   :	70px;
$postMaxWidth : 480px;
$postMinWidth : 200px;

$singleColBreakpoint : $postMaxWidth + $headerSize + $fontSizePx;

// Breakpoints
$breakpoints : 420px, $singleColBreakpoint;
