// Colours
$darkBG : #333;
$linkColor:#d40000;

//$backgroundImage: "../images/backgrounds/geometry4.jpg";
$backgroundImage: "../images/backgrounds/geometry13.jpg";
$backgroundImage2: "../images/backgrounds/geometry2.jpg";


// Values
$borderRadius:0;

// Element dimensions
$headerSize:70px;

// Breakpoints
$breakpoints: 0,320,420,480,640,800,960,1024;




