// Colours
$color_black : #333;
$linkColor:darken(skyblue, 30%);
//$linkColor:#666;
$baseFontSizePx : 14px;
$baseFontSize : 14;

$backgroundImage: "../images/backgrounds/geometry23.jpg";
//$backgroundImage2: "../images/backgrounds/geometry2.jpg";


// Values
$borderRadius:4px;

// Element dimensions
$headerSize:70px;

// Breakpoints
$breakpoints: 0,320,420,480,640,800,960,1024;

